In [4]:
# Import the necessary packages and import the html file. Open the file with Beautiful Soup
from bs4 import BeautifulSoup
import pandas as pd
file = "Education Districts â€” NC State Board of Education.html"
# file can be downloaded from https://stateboard.ncpublicschools.gov/about-sbe/education-districts
with open(file, "r") as fd:
    soup = BeautifulSoup(fd)

In [5]:
# Extract the data from the "content-core" div on the webpage. 
# This contains the regions and the school districts
data_table = soup.find("div", {"id": "content-core"})
print(data_table)

<div id="content-core">
<div class="" id="parent-fieldname-text-bfc1d6f427484fa5981d328b71374a74">
<p><a class="internal-link" href="https://stateboard.ncpublicschools.gov/about-sbe/sbe-districts.pdf">The districts are effective April 2015.</a></p>
<h2><b>Northeast Region</b>:</h2>
<p>Beaufort, Bertie, Camden, Chowan, Currituck, Dare, Gates, Halifax, Hertford, Hyde, Martin, Northampton, Pasquotank, Perquimans, Pitt, <span class="st">Roanoke Rapids</span>, Tyrrell, Washington,Weldon</p>
<h2><b>Southeast Region</b>:</h2>
<p>Brunswick, Carteret, Craven, Duplin, Greene, Jones, Lenoir, New Hanover, Onslow, Pamlico, Pender, Wayne</p>
<h2><b>North Central Region</b>:</h2>
<p>Chapel Hill-Carrboro, Chatham, Durham, Edgecombe, Franklin, Granville, Harnett, Johnston, Lee, Nash, Orange, Person, Vance, Wake, Warren, Wilson</p>
<h2><b>Sandhills Region</b>:</h2>
<p>Bladen, Clinton, Columbus, Cumberland, Hoke, Montgomery, Moore, Richmond, Robeson, Sampson, Scotland, Whiteville</p>
<h2><b>Piedmont - Triad Region</b>:</h2>
<p>Alamance, Asheboro, Caswell, Davidson, Davie, Elkin, Forsyth, Guilford, Lexington, Mount Airy, Randolph, Rockingham, Stokes, Thomasville, Surry, Yadkin</p>
<h2><b>Southwest Region</b>:</h2>
<p>Anson, Cabarrus, Cleveland, Gaston, Iredell, Kannapolis, Lincoln, Mecklenburg, Mooresville, Rowan, Stanly, Union</p>
<h2><b>Northwest Region</b>:</h2>
<p>Alexander, Alleghany, Ashe, Avery, Burke, Caldwell, Catawba, Hickory, McDowell, Mitchell, Newton-Conover, Watauga, Wilkes, Yancey</p>
<h2><b>Western Region</b>:</h2>
<p>Asheville, Buncombe, Cherokee, Clay, Graham, Haywood, Henderson, Jackson, Macon, Madison, Polk, Rutherford, Swain, Transylvania</p>
</div>
</div>

In [6]:
# Extract all the "h2" heading from the div. This represents all the different regions
# Create a list with all the regions
region_list = []
for regions in data_table.findAll('h2'):
    region = str(regions.text)
    region = region.replace(":","")
    region_list.append(region)
region_list

['Northeast Region',
 'Southeast Region',
 'North Central Region',
 'Sandhills Region',
 'Piedmont - Triad Region',
 'Southwest Region',
 'Northwest Region',
 'Western Region']

In [7]:
# Extract all the "p" heading from the div. This represents all the different 
# school districts. Create a list with all the groups of school districts
counties_list = []
for counties in data_table.findAll('p'):
    county = str(counties.text)
    counties_list.append(county)
counties_list = counties_list[1:] 
counties_list

['Beaufort, Bertie, Camden, Chowan, Currituck, Dare, Gates, Halifax, Hertford, Hyde, Martin, Northampton, Pasquotank, Perquimans, Pitt, Roanoke Rapids, Tyrrell, Washington,Weldon',
 'Brunswick, Carteret, Craven, Duplin, Greene, Jones, Lenoir, New Hanover, Onslow, Pamlico, Pender, Wayne',
 'Chapel Hill-Carrboro, Chatham, Durham, Edgecombe, Franklin, Granville, Harnett, Johnston, Lee, Nash, Orange, Person, Vance, Wake, Warren, Wilson',
 'Bladen, Clinton, Columbus, Cumberland, Hoke, Montgomery, Moore, Richmond, Robeson, Sampson, Scotland, Whiteville',
 'Alamance, Asheboro, Caswell, Davidson, Davie, Elkin, Forsyth, Guilford, Lexington, Mount Airy, Randolph, Rockingham, Stokes, Thomasville, Surry, Yadkin',
 'Anson, Cabarrus, Cleveland, Gaston, Iredell, Kannapolis, Lincoln, Mecklenburg, Mooresville, Rowan, Stanly, Union',
 'Alexander, Alleghany, Ashe, Avery, Burke, Caldwell, Catawba, Hickory, McDowell, Mitchell, Newton-Conover, Watauga, Wilkes, Yancey',
 'Asheville, Buncombe, Cherokee, Clay, Graham, Haywood, Henderson, Jackson, Macon, Madison, Polk, Rutherford, Swain, Transylvania']

In [8]:
# Create a dictionary with all the Regions and their corresponding groups of school districts
county_dict = {region_list[i]: counties_list[i] for i in range(len(region_list))} 
county_dict

{'Northeast Region': 'Beaufort, Bertie, Camden, Chowan, Currituck, Dare, Gates, Halifax, Hertford, Hyde, Martin, Northampton, Pasquotank, Perquimans, Pitt, Roanoke Rapids, Tyrrell, Washington,Weldon',
 'Southeast Region': 'Brunswick, Carteret, Craven, Duplin, Greene, Jones, Lenoir, New Hanover, Onslow, Pamlico, Pender, Wayne',
 'North Central Region': 'Chapel Hill-Carrboro, Chatham, Durham, Edgecombe, Franklin, Granville, Harnett, Johnston, Lee, Nash, Orange, Person, Vance, Wake, Warren, Wilson',
 'Sandhills Region': 'Bladen, Clinton, Columbus, Cumberland, Hoke, Montgomery, Moore, Richmond, Robeson, Sampson, Scotland, Whiteville',
 'Piedmont - Triad Region': 'Alamance, Asheboro, Caswell, Davidson, Davie, Elkin, Forsyth, Guilford, Lexington, Mount Airy, Randolph, Rockingham, Stokes, Thomasville, Surry, Yadkin',
 'Southwest Region': 'Anson, Cabarrus, Cleveland, Gaston, Iredell, Kannapolis, Lincoln, Mecklenburg, Mooresville, Rowan, Stanly, Union',
 'Northwest Region': 'Alexander, Alleghany, Ashe, Avery, Burke, Caldwell, Catawba, Hickory, McDowell, Mitchell, Newton-Conover, Watauga, Wilkes, Yancey',
 'Western Region': 'Asheville, Buncombe, Cherokee, Clay, Graham, Haywood, Henderson, Jackson, Macon, Madison, Polk, Rutherford, Swain, Transylvania'}

In [9]:
# Create a data frame out of the dictionary of school districts and regions
df = pd.DataFrame(list(county_dict.items()))
df

                         0                                                  1
0         Northeast Region  Beaufort, Bertie, Camden, Chowan, Currituck, D...
1         Southeast Region  Brunswick, Carteret, Craven, Duplin, Greene, J...
2     North Central Region  Chapel Hill-Carrboro, Chatham, Durham, Edgecom...
3         Sandhills Region  Bladen, Clinton, Columbus, Cumberland, Hoke, M...
4  Piedmont - Triad Region  Alamance, Asheboro, Caswell, Davidson, Davie, ...
5         Southwest Region  Anson, Cabarrus, Cleveland, Gaston, Iredell, K...
6         Northwest Region  Alexander, Alleghany, Ashe, Avery, Burke, Cald...
7           Western Region  Asheville, Buncombe, Cherokee, Clay, Graham, H...

In [10]:
# First Transformation: Add column names Region and County, and add a new identifier column Row ID. Create a new 
# dataframe of just the Regions and their Row ID
row_id = list(range(0, 8))
df.columns = ['Region','County']
df['Row ID'] = row_id
df_regions = df[['Region', 'Row ID']]
df_regions

                    Region  Row ID
0         Northeast Region       0
1         Southeast Region       1
2     North Central Region       2
3         Sandhills Region       3
4  Piedmont - Triad Region       4
5         Southwest Region       5
6         Northwest Region       6
7           Western Region       7

In [11]:
# Second Transformation: Create a data frame of all the counties, seperated by commas in their own columns, create
# a new identifier column Row ID, and rename the columns
counties_columns = []
for x in range(1,20):
    x = str(x)
    region_name = 'County '+x
    counties_columns.append(region_name)
df_counties = df.County.str.split(",",expand=True)
df_counties.columns = counties_columns
df_counties['Row ID'] = row_id
df_counties

,County 1,County 2,County 3,County 4,County 5,County 6,County 7,County 8,County 9,County 10,County 11,County 12,County 13,County 14,County 15,County 16,County 17,County 18,County 19,Row ID
0,Beaufort,Bertie,Camden,Chowan,Currituck,Dare,Gates,Halifax,Hertford,Hyde,Martin,Northampton,Pasquotank,Perquimans,Pitt,Roanoke Rapids,Tyrrell,Washington,Weldon,0
1,Brunswick,Carteret,Craven,Duplin,Greene,Jones,Lenoir,New Hanover,Onslow,Pamlico,Pender,Wayne,None,None,None,None,None,None,None,1
2,Chapel Hill-Carrboro,Chatham,Durham,Edgecombe,Franklin,Granville,Harnett,Johnston,Lee,Nash,Orange,Person,Vance,Wake,Warren,Wilson,None,None,None,2
3,Bladen,Clinton,Columbus,Cumberland,Hoke,Montgomery,Moore,Richmond,Robeson,Sampson,Scotland,Whiteville,None,None,None,None,None,None,None,3
4,Alamance,Asheboro,Caswell,Davidson,Davie,Elkin,Forsyth,Guilford,Lexington,Mount Airy,Randolph,Rockingham,Stokes,Thomasville,Surry,Yadkin,None,None,None,4
5,Anson,Cabarrus,Cleveland,Gaston,Iredell,Kannapolis,Lincoln,Mecklenburg,Mooresville,Rowan,Stanly,Union,None,None,None,None,None,None,None,5
6,Alexander,Alleghany,Ashe,Avery,Burke,Caldwell,Catawba,Hickory,McDowell,Mitchell,Newton-Conover,Watauga,Wilkes,Yancey,None,None,None,None,None,6
7,Asheville,Buncombe,Cherokee,Clay,Graham,Haywood,Henderson,Jackson,Macon,Madison,Polk,Rutherford,Swain,Transylvania,None,None,None,None,None,7

In [12]:
# Third Transformation: Merge together the region data and the county data

merged_data = pd.merge(df_regions,df_counties,on='Row ID')
merged_data = merged_data.drop(columns=['Row ID'])
merged_data

,Region,County 1,County 2,County 3,County 4,County 5,County 6,County 7,County 8,County 9,County 10,County 11,County 12,County 13,County 14,County 15,County 16,County 17,County 18,County 19
0,Northeast Region,Beaufort,Bertie,Camden,Chowan,Currituck,Dare,Gates,Halifax,Hertford,Hyde,Martin,Northampton,Pasquotank,Perquimans,Pitt,Roanoke Rapids,Tyrrell,Washington,Weldon
1,Southeast Region,Brunswick,Carteret,Craven,Duplin,Greene,Jones,Lenoir,New Hanover,Onslow,Pamlico,Pender,Wayne,None,None,None,None,None,None,None
2,North Central Region,Chapel Hill-Carrboro,Chatham,Durham,Edgecombe,Franklin,Granville,Harnett,Johnston,Lee,Nash,Orange,Person,Vance,Wake,Warren,Wilson,None,None,None
3,Sandhills Region,Bladen,Clinton,Columbus,Cumberland,Hoke,Montgomery,Moore,Richmond,Robeson,Sampson,Scotland,Whiteville,None,None,None,None,None,None,None
4,Piedmont - Triad Region,Alamance,Asheboro,Caswell,Davidson,Davie,Elkin,Forsyth,Guilford,Lexington,Mount Airy,Randolph,Rockingham,Stokes,Thomasville,Surry,Yadkin,None,None,None
5,Southwest Region,Anson,Cabarrus,Cleveland,Gaston,Iredell,Kannapolis,Lincoln,Mecklenburg,Mooresville,Rowan,Stanly,Union,None,None,None,None,None,None,None
6,Northwest Region,Alexander,Alleghany,Ashe,Avery,Burke,Caldwell,Catawba,Hickory,McDowell,Mitchell,Newton-Conover,Watauga,Wilkes,Yancey,None,None,None,None,None
7,Western Region,Asheville,Buncombe,Cherokee,Clay,Graham,Haywood,Henderson,Jackson,Macon,Madison,Polk,Rutherford,Swain,Transylvania,None,None,None,None,None

In [13]:
# Fourth Transformation: Convert the long data to short data to tie each district to a county in a cleaner format.
# Drop na values and drop the variable column. Rename the columns to make it easier to understand

short_data = pd.melt(merged_data,['Region'])
short_data = short_data.drop(columns=['variable'])
short_data = short_data.dropna()
short_data.columns = ['Region','County']
short_data

                      Region                County
0           Northeast Region              Beaufort
1           Southeast Region             Brunswick
2       North Central Region  Chapel Hill-Carrboro
3           Sandhills Region                Bladen
4    Piedmont - Triad Region              Alamance
..                       ...                   ...
122     North Central Region                Wilson
124  Piedmont - Triad Region                Yadkin
128         Northeast Region               Tyrrell
136         Northeast Region            Washington
144         Northeast Region                Weldon

[115 rows x 2 columns]

In [23]:
short_data['County'] = short_data['County'].str.strip()

In [16]:
# Fifth Transformation: Create different groupbys of of the data to perform data analysis on the data 

groupby_region = short_data.groupby(short_data['Region'])
count_by_county = groupby_region.count().sort_values(by=['County'], ascending = False)
count_by_county

                         County
Region
Northeast Region             19
North Central Region         16
Piedmont - Triad Region      16
Northwest Region             14
Western Region               14
Sandhills Region             12
Southeast Region             12
Southwest Region             12

In [17]:
mapping = {'Northeast Region': 'North', 'North Central Region': 'North','Piedmont - Triad Region': 'Other',
           'Northwest Region': 'North','Western Region': 'West','Sandhills Region': 'Other',
           'Southeast Region': 'South','Southwest Region': 'South'}
by_column = count_by_county.groupby(mapping, axis=0)
mean_region = by_column.mean()
df4 = pd.DataFrame(mean_region)
df4.columns = ['Average County per State Location']
df4.astype(int)

       Average County per State Location
North                                 16
Other                                 14
South                                 12
West                                  14

In [24]:
# Import sqlalchemy and create a database table out of the dataframe
import sqlite3
import pandas as pd
import sqlalchemy as sqla

In [25]:
con = sqlite3.connect('mydata.sqlite')

In [26]:
short_data.to_sql('regions', con = con, index = False, if_exists='replace')

In [27]:
con.commit()